html {
	background-color: #FFFED3;
}
h1 {
	margin-top: 80px;
	text-align: center;
	color: #876B74;
	text-shadow: 3px 3px 1px #B3A0A6;
	font-size: 80px;
}
.column {
  float: left;
}
.left, .right {
  width: 50%;
}