ul {
 	list-style-type: none;
	margin: 0;
 	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background: #505050;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
}
li #hb:link {
	background-color: black;
}
li #ab:link {
	background-color: black;
}
li #cb:link {
	background-color: black;
}
li a:hover {
	background-color: black;
}